dist: trusty
sudo: false
language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
before_install:
  - npm i -g npm@latest
after_success:
  - npm run travis-deploy-once "npm run semantic-release"
branches:
  only:
    - master
    - /^greenkeeper.*$/
